body {
    font-family: Arial;
    background:#f2f2f7;
    margin:0;
}

.app {
    max-width:500px;
    margin:auto;
    padding:10px;
    padding-bottom:90px;
}

input {
    width:100%;
    padding:12px;
    border-radius:12px;
    border:none;
    margin-bottom:10px;
}

.card {
    background:white;
    padding:15px;
    margin:10px 0;
    border-radius:12px;
}

.word {
    color:#007aff;
    font-weight:700;
}

.sub {
    color:#666;
}

.tabs {
    position:fixed;
    bottom:0;
    width:100%;
    max-width:500px;
    display:flex;
    background:white;
}

.tabs button {
    flex:1;
    padding:14px;
    border:none;
}

.gridABC {
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(90px,1fr));
    gap:10px;
}

.cardABC {
    background:white;
    padding:10px;
    border-radius:12px;
    text-align:center;
}

.cardABC img {
    width:60px;
    height:60px;
}

.letterABC {
    font-weight:bold;
    margin-bottom:5px;
}

.imgPlaceholder {
    width:60px;
    height:60px;
    background:#eee;
    display:flex;
    align-items:center;
    justify-content:center;
}

.hidden {
    display:none;
}
